OPENROUTER_API_KEY=
# LLM I tested this project with. It's cheap and capable.
LLM_NAME=minimax/minimax-m2.7
# Only set LLM_PROVIDER when you need Openrouter's provider routing.
# For example I use "Fireworks" for privacy, but it needs to be set at both Openrouter and the target provider.
LLM_PROVIDER=
